subjectAltName = DNS:localhost,DNS:identityserver0,DNS:identityserver1,DNS:identityserver2,DNS:*.boisestate.edu,DNS:*.us-west-2.compute.amazonaws.com,DNS:*.us-west-2.compute.internal,IP:0.0.0.0,IP:127.0.0.1
